<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Patient Records Storage</h2>
        <form id="recordsForm" method="POST">
          <label for="recordPatientName">Patient Name:</label>
          <input  value="{{records[0]}}" type="text" id="recordPatientName" name="Patientname" required>
          
          <label for="medicalRecords">Medical Records:</label>
          <textarea value="{{records[1]}}" id="medicalRecords" name="Records" rows="5" placeholder="Enter medical records or visiting history"></textarea>
          
          <label for="">Medical Records files</label>
          <input type="file" name="image" required>
          <button type="submit">Save Records</button>
        </form>
      </div>
</body>
</html>